# Discord Configuration
DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CLIENT_ID=your_client_id_here

# Postgres Configuration
POSTGRES_USER=groupmaker
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=groupmaker
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# DB URL for local Prisma usage (points to localhost). 
# Inside docker-compose it gets overridden to point to POSTGRES_HOST
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public
